:root {
    --base-font-family: "Lexend Deca", Outfit, sans-serif;
    --sidebar-toggle-offset-top: 6px;
}

.search input:focus {
    box-shadow: 0px 0px 0px 2px var(--theme-color) !important;
}

.search .clear-button.show {
    display: flex !important;
    align-items: center;
    padding-left: calc(.875rem + 2px);
    padding-right: .875rem;
}